<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tree_Logger_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<userSettings>
        <Tree_Logger_CSharp.Properties.Settings>
                <setting name="Logs" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="LogsPerSecond" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ClickLogs" serializeAs="String">
                        <value>1</value>
                </setting>
                <setting name="SelfClickedLogs" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="TotalTimesClicked" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Clicker" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Lumberjack" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="LumberYard" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Sawmill" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Forest" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Shipment" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Alchemy" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Portal" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Extractor" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="ClickerPrice" serializeAs="String">
                        <value>15</value>
                </setting>
                <setting name="LumberjackPrice" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="LumberYardPrice" serializeAs="String">
                        <value>500</value>
                </setting>
                <setting name="SawmillPrice" serializeAs="String">
                        <value>3000</value>
                </setting>
                <setting name="ForestPrice" serializeAs="String">
                        <value>10000</value>
                </setting>
                <setting name="ShipmentPrice" serializeAs="String">
                        <value>40000</value>
                </setting>
                <setting name="AlchemyPrice" serializeAs="String">
                        <value>100000</value>
                </setting>
                <setting name="PortalPrice" serializeAs="String">
                        <value>1666666</value>
                </setting>
                <setting name="ExtractorPrice" serializeAs="String">
                        <value>123456789</value>
                </setting>
                <setting name="CondenserPrice" serializeAs="String">
                        <value>3999999999</value>
                </setting>
                <setting name="Condenser" serializeAs="String">
                        <value>0</value>
                </setting>
        </Tree_Logger_CSharp.Properties.Settings>
    </userSettings>
</configuration>